@CHARSET "UTF-8";

#top {
    position: relative;
    background-color: #9ca2d3;
    color: white;
    padding: 2px;
    margin: 0px 0px 5px 0px;
}

#bottom {
    position: relative;
    text-align: center;
    background-color: #9ca2d3;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ffffff;
    padding: 3px;
    width: 200px;
}

#right {
    float: right;
    background-color: #000000;
    padding: 3px;
    width: 180px;
}


.left_content {
    background-color: #ffffff;
    padding: 3px;
    margin-left: 210px;
}

.right_content {
    background-color: #9ca2d3;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}



