<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:repository="http://www.springframework.org/schema/data/repository"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository-1.7.xsd">
	
	<!-- Pobranie z zasobow JNDI poli polaczen w postaci obiektu DataSource i utworzenie go w kontescie Springa -->
	<jee:jndi-lookup id="datasource" jndi-name="jdbc/EmployeeExpert" resource-ref="true"/>
	<!-- baselineOnMigrate - utworzy automatycznie tabele do wersjonawania schema_version do zapisu i sprawdzania wersji bazy danych -->
	<!-- location - gdzie sa skrypty bazy danych [classpath:.] - w sciezce klas czyli WEB-INF/classes -->
 	<bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate" p:baselineOnMigrate="true" p:dataSource-ref="datasource" p:locations="classpath:."></bean>

	<!-- JPA  -->
	<!-- LocalContainerEntityManagerFactoryBean - zastepuje konfiguracje z pliku persiatance.xml i sluzy jako fabryka entityManagera -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="flyway">
		<property name="dataSource" ref="datasource"/>
		<property name="persistenceProviderClass" value="org.hibernate.ejb.HibernatePersistence"/>
		<!-- W jakich pakietach szukac klas domenowych - uwaga przeglada wszytskie pakiety wewnetrzne -->
		<property name="packagesToScan">
			<array>
				<value>com.mariusz.empexp.auth.domain</value>
				<value>com.mariusz.empexp.core.domain</value>
				<value>com.mariusz.empexp.doc.domain</value>
			</array>
		</property>
		
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
			</props>
		</property>
	</bean>
	<!-- Utworzenie obiektu menagera transakcji - poniewaz jpa wymaga aby kazda operacja byla w ramach transakcji -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" p:entityManagerFactory-ref="entityManagerFactory"></bean>
	
	<!-- Podajemy pakiet gdzie spring ma szkac interfejsow dla Spring Dat JPA -->
	<jpa:repositories base-package="com.mariusz.empexp.auth.dao"/>
	
	<!-- Podajemy pakiet gdzie bedzie warstwa serwisu -->
	<context:component-scan base-package="com.mariusz.empexp.auth.service"/>
	<!-- 
	<context:component-scan base-package="com.mariusz.empexp.core.service"/>
	<context:component-scan base-package="com.mariusz.empexp.dok.service"/>
	 -->
	<!-- wlaczamy obsluge transakcji poprzez adnotacje -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	
	
	
	
	
	
	<!-- spring tworzy singleton object -->
	<bean id="model1" class="com.mariusz.empexp.test.Model">
		<constructor-arg name="name" value="hello spring singleton"></constructor-arg>
	</bean>
	<!-- Prototyp - tworzy za kazdym razem nowy obiekt -->
	<bean id="model2" class="com.mariusz.empexp.test.Model" scope="prototype">
		<property name="name" value="Hello spring proptotyp"></property>
	</bean>
	<!-- c:[nazwa parametru] - wartosc dla parametru kontruktora , c:[nazwa_parametru]-ref - id innego obiektu z konskstu springa -->
	<!-- p - property od setterow -->
	<bean id="model3" class="com.mariusz.empexp.test.Model" c:name="wartosc1" p:name="wartosc3">
	
	</bean>
	<!-- 
	<bean id="grupa" class="com.mariusz.empexp.auth.domain.Grupa"/>
	<bean id="rola" class="com.mariusz.empexp.auth.domain.Rola"/>
	<bean id="typZdarzen" class="com.mariusz.empexp.auth.domain.TypZdarzen"/>
	<bean id="zdarzenia" class="com.mariusz.empexp.auth.domain.Zdarzenia"/>
	
	<bean id="adres" class="com.mariusz.empexp.core.domain.Adres" />
	<bean id="firma" class="com.mariusz.empexp.core.domain.Firma"/>
	<bean id="historiaZatrudnienia" class="com.mariusz.empexp.core.domain.HistoriaZatrudnienia"/>
	<bean id="miasto" class="com.mariusz.empexp.core.domain.Miasto"/>
	<bean id="oddzial" class="com.mariusz.empexp.core.domain.Oddzial"/>
	<bean id="pracownik" class="com.mariusz.empexp.core.domain.Pracownik"/>
	<bean id="stanowiskoPracy" class="com.mariusz.empexp.core.domain.StanowiskaPracy"/>
	<bean id="stawkiPlacowe" class="com.mariusz.empexp.core.domain.StawkiPlacowe"/>
	<bean id="typUmowy" class="com.mariusz.empexp.core.domain.TypUmowy"/>
	<bean id="typZwolnienia" class="com.mariusz.empexp.core.domain.TypZwolnienia"/>
	<bean id="typZwolnieniaUstawienia" class="com.mariusz.empexp.core.domain.TypZwolnieniaUstawienia"/>
	<bean id="wojewodzctwo" class="com.mariusz.empexp.core.domain.Wojewodzctwo"/>
	<bean id="zatrudnienie"
		class="com.mariusz.empexp.core.domain.Zatrudnienie" />
	<bean id="zwolnienie" class="com.mariusz.empexp.core.domain.Zwolnienie"/>
	
	<bean id="dokument" class="com.mariusz.empexp.doc.domain.Dokument"/>
	<bean id="typDokumentu" class="com.mariusz.empexp.doc.domain.TypDokumentu"/>
	 -->
	
</beans>
